* {box-sizing: border-box; margin: 0; padding: 0;}
body{ font-family: "Open Sans"; line-height: 1.618em;}
a{text-decoration: none;}
.wrapper { max-width: 60rem; margin: 5rem auto; width: 100%; position: relative;}
nav { display: flex; justify-content: center; font-size: 1.2em;}

.menu_item { height: 3em; line-height: 3em; overflow: hidden; }
.menu_item a { display: block; background: #3498db; color: #fff; border-right: 0.25em solid #fff;padding-right: 2em; position: relative; z-index: 1;
}
.menu_item:last-child a {border-right: 0;}

.menu_item .fa { background: #2980b9; width: 3em; line-height: inherit; text-align: center; height: 100%; position: absolute; left: 0; transition: 0.35s;}
.menu_item span { margin-left: 4.5em; display: block; }

.menu_item a::before {
    content: "";
    position: absolute;
    left: -100%; top:0; bottom: 0; right: 100%;
    background: #2980b9; transition: 0.35s;
    z-index: -1;   
}

@media screen and (min-width:55rem) {
    .menu_item a:hover::before { left: 0; right: 0;}
    .menu_item a:hover .fa{ font-size: 1.25em; width: 3.6em;}
}

@media screen and (max-width:55rem) {
    .menu_item span { margin-left: 0.9em; width: 0; transition: 0.5s ease;}
    .menu_item a:hover span { width: auto; margin-left: 4.6em;}
}