* {margin: 0; padding: 0;}
li{list-style: none;}
.mainmenu { /* 1차메뉴 : ul*/
    background-color: #333;
    padding-left: 45px;
    height: 50px;
}

.mainmenu > li { /* 1차메뉴 li*/
    list-style: none;
    float: left;
    margin-left: 30px;
    padding : 0 10px;
    line-height: 50px;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
}

.mainmenu::after{
    content: "";
    display: block;
    clear: both;
}

.mainmenu ul { /* 2차메뉴  ul*/
    background-color: #666;    
    display: none;
}

.mainmenu > li > ul > li{ /*2차메뉴 li*/
    padding: 5px 10px;
}
.mainmenu > li:hover ul{ /* hover 상태의 2차메뉴 ul*/
    position: absolute; /* 이를 하지 않으면 2차메뉴 list들이 움직인다*/
    display: block;
}